<%= render 'shared/error_msg', :obj => @project %>
<%= form_for @project, :url => urlForm do |f| %>
	<%= f.hidden_field "user_id", :value => current_user.id %>
    <div class="field">
        <%= f.label :title %><br />
        <%= f.text_field :title %>
    </div>
    <div class="actions">
        <%= f.submit :update %>
    </div>
<% end %>
</div>